/* Resources
https://help.screensteps.com/m/pdf/l/562262-custom-css-recipes-for-pdf-templates
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
 */

.root {

}

body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  counter-reset: sectionNum;
  padding: 2em;
}

.section {
  page-break-before: always;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

p {
  color: #F4F4F4;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

a {
  color: #F4F4F4;
}

.cover-page {
  page-break-after: always;
  text-align: center;
  margin: auto;
  margin-top: 40%;
  margin-left: 50%;
  transform: translate(-50%, -40%);
}

.cover-page__title {
  position: relative;
}

.cover-page__image {
  border-radius: 8px;
  height: auto;
  max-width: 100%;
  page-break-before: avoid;
}

table, figure {
  page-break-inside: avoid;
}

@page {
  size: A4 portrait;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  background: #1D2429;

  @bottom-left {
    margin: 10pt 0 10pt 10pt;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
  }

  @bottom-right {
    margin: 10pt 10pt 10pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
    content: "Page " counter(page) " of " counter(pages);
  }

  @bottom-center {
    margin: 10pt 10pt 10pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
  }

}

@page :first {
  margin: 0cm;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

@page last_page {
  margin: 0cm;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

/* Number section headings */
h1.section__heading:before {
  counter-increment: sectionNum;
  content: counter(sectionNum) ". ";
}

.grid-container {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;

}

.grid-container__element {
  padding: 5px;
  display: inline-block;
  page-break-before: avoid;
  margin: auto;
}

.icon {
  font-size: 50px;
  width: 20%;
}

.tool-image {
  max-width: 100%;
  max-height: 100%;
}

.code-language-title {
  display: block;
  background-color: #fff;
}

.section__image {
  width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.pallete-wrapper {
  background-color: #F5F2F0;
  overflow: hidden;
  /* margin: auto; */
  display: table;
  width: 100%;
  border-radius: 8px;
}

.pallete-wrapper__item {
  text-align: center;
  display: table-cell;
}

p.pallete-wrapper__item {
  color: black;
  text-align: center;
  display: block;
  font-weight: bold;
}

.image-grid {
  background-color: #F5F2F0;
  text-align: center;
  border-radius: 8px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;

}

.image-grid__container {
  width: 45%;
  padding: 5px;
  display: inline-block;
  page-break-before: avoid;
  margin: auto;
}

.image-grid__image {
  width: 100%;
  max-height: 100%;
  margin: 1em 0 1em 0;
}

figcaption {
  color: black;
  font-style: italic;
}

.name-card__container {
  height: 200px;
  width: 350px;
  background-color: rgba(0, 0, 0, 0.1);
  break-before: always;
  border-radius: 8px;
  text-align: center;
  display: table;
  margin-top: 60%;
  margin-left: 50%;
  transform: translate(-50%, -60%);
  page: last_page;
}

.name-card__text {
  vertical-align: middle;
  display: table-cell;
  transform: translate(0%, 65%);
}
