/* Resources
https://help.screensteps.com/m/pdf/l/562262-custom-css-recipes-for-pdf-templates
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
 */

.root {

}

body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  counter-reset: sectionNum;
  padding: 2em;
}

.section {
  page-break-before: always;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

p {
  color: #F4F4F4;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

a {
  color: #F4F4F4;
}

.cover-page {
  page-break-after: always;
  text-align: center;
  margin: auto;
  margin-top: 40%;
  margin-left: 50%;
  transform: translate(-50%, -40%);
}

.cover-page__title {
  position: relative;
}

.cover-page__image {
  border-radius: 8px;
  height: auto;
  max-width: 100%;
  page-break-before: avoid;
}

table, figure {
  page-break-inside: avoid;
}

@page {
  size: A4 portrait;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  background: #1D2429;

  @bottom-left {
    margin: 10pt 0 10pt 10pt;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
  }

  @bottom-right {
    margin: 10pt 10pt 10pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
    content: "Page " counter(page) " of " counter(pages);
  }

  @bottom-center {
    margin: 10pt 10pt 10pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
  }

}

@page :first {
  margin: 0cm;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

}

/* Number section headings */
h1.section__heading:before {
  counter-increment: sectionNum;
  content: counter(sectionNum) ". ";
}

.grid-container {
    margin-top: 1cm;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    background-color: rgba(0, 0, 0, 0.1); /* Color white with alpha 0.9*/
    border-radius: 8px;
    /* background:
      radial-gradient(
        yellow,
        #f06d06
    ); */
}

.grid-element {
  padding: 5px;
  color: #fff;
  width: 20%;
  display: inline-block;
  font-size: 50px;
  page-break-before: avoid;
}

.tool-image {
  max-width: 100%;
  max-weight: 100%;
}

.code-language-title {
  display: block;
  background-color: #fff;
}
