/* Resources
https://help.screensteps.com/m/pdf/l/562262-custom-css-recipes-for-pdf-templates
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
 */

.root {

}

body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  counter-reset: sectionNum;
}

.section {
  page-break-before: always;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

p {
  color: #F4F4F4;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.cover-page {
  page-break-after: always;
  text-align: center;
}

.cover-page__title {
  margin: auto;
  line-height: 100%;
  width: 100%;
  height: 100%;
  page: cover;
}

table, figure {
  page-break-inside: avoid;
}

@page {
  size: A4 portrait;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  background: #1D2429;

  @bottom-left {
    margin: 10pt 0 10pt 10pt;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
  }

  @bottom-right {
    margin: 10pt 10pt 10pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #FFF;
    content: "Page " counter(page) " of " counter(pages);
  }
}

@page :first {
  margin: 0cm;
}

h1.section__heading:before {
  counter-increment: sectionNum;
  content: counter(sectionNum) ". ";
}
